body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    background: #aaa;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F4E7E1;
    width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Game title & subtitle*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#521C0D;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 400px;
    color: #F4E7E1;
}

.title {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.result {
    margin-bottom: 20px;
}

/* Score board */
.player-score {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 3px solid black;
    width: 400px;
    font-size: 2rem;
    padding: 20px 10px;
    position: relative;
    margin-bottom: 20px;
    gap: 20px;
}

.player-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

#user-choice,
#computer-choice {
    font-size: 1rem;
    margin-top: 10px;
}

.badge{
    background:#363536;
    color: white;
    font-size: 2rem;
    padding: 10px 10px;
    border-radius: 12px;
}

/* RPS buttons */
#rock, #paper, #scissors, #reset {
    background: #D5451B;
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    cursor: pointer;
    outline: none;    
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    margin-bottom: 20px;
}

#rock:hover, #paper:hover, #scissors:hover, #reset:hover {
    background-color: #CB0404
}

#rock.disabled,
#paper.disabled,
#scissors.disabled {
    opacity: 0.6;
    pointer-events: none;
}

#reset {
    background: #FF9B45;
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 10px;
}