body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    background: #aaa;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 16px;
}

/* Game title */
.header {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subheader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Score board */
.player-score {
    text-align: center;
    color: black;
    border: 3px solid black;
    width: 200px;
    font-size: 4rem;
    padding: 10px 5px;
    position: relative;
}

.badge{
    background:#363536;
    color: white;
    font-size: 2rem;
    padding: 10px 10px;
    border-radius: 12px;
}

#computer-badge{
    position: absolute;
    margin-top: 10px;
    left: -75px;
}

#user-badge{
    position: absolute;
    margin-top: 10px;
    right: -70px;
}

.buttons {
    gap: 10px;
    margin-bottom: 20px;
}

.player-choice, .result, .player-score {
    margin-bottom: 10px;
}